{% extends 'main_layout.html' %}


{% block head %}


{% endblock %}


{% block main %}

	<h1>
		Name: {{coin.name}}({{coin.symbol}})
	</h1>
	<h2>
		Price: <span id='price'>{{coin.price}}<span>
	</h2>
	<h2>
		Amount of stocks: {{coin.quantity}}
	</h2>
	<h2>
		Holders: {{coin.amount_of_holders}}
	</h2>
	<h2>
		Market Cap: {{coin.market_cap}}
	</h2>
	<h2>
		Stocks left: {{coin.stocks_left}}
	</h2>
	{% if wallet_dont_exists %}
		Wallet is not active?
		<p> 
			<a href="{% url 'wallets:wallets' %}"> Click here </a>
		</p> 

	{% else %}
		<form method='POST'>
			{% csrf_token %}
			{{form.as_p}}
			<input type='submit' name='action' value='BUY'>
		</form>
		<form method='POST'>
			{% csrf_token %}
			{{form2.as_p}}
			<input type='submit' name='action' value='SELL'>
		</form>
	{% endif %}

	<script>
		const price_coin = document.getElementById('price')
		let buyAmountOfCoin = document.getElementById('buy_amount_of_coin')
		let buyTotalPrice = document.getElementById('buy_total_price')
		let sellAmountOfCoin = document.getElementById('sell_amount_of_coin')
		let sellTotalPrice = document.getElementById('sell_total_price')
		buyAmountOfCoin.addEventListener('keyup', () => {
			buyTotalPrice.value = price_coin.innerText * buyAmountOfCoin.value

		}) 

		buyTotalPrice.addEventListener('keyup', () => {
			buyAmountOfCoin.value = buyTotalPrice.value / price_coin.innerText
		})

		sellAmountOfCoin.addEventListener('keyup', () => {
			sellTotalPrice.value = price_coin.innerText * sellAmountOfCoin.value
		})

		sellTotalPrice.addEventListener('keyup', () => {
			sellAmountOfCoin.value = sellTotalPrice.value / price_coin.innerText
		})

	</script>
{% endblock %}

