{% extends 'main_layout.html' %}


{% block head %}


{% endblock %}


{% block main %}

	<h1>
		Name: {{coin.name}}({{coin.symbol}})
	</h1>
	<h2>
		Price: {{coin.price}}
	</h2>
	<h2>
		Amount of stocks: {{coin.quantity}}
	</h2>
	<h2>
		Holders: {{coin.amount_of_holders}}
	</h2>
	<h2>
		Market Cap: {{coin.market_cap}}
	</h2>
	<h2>
		Stocks left: {{coin.stocks_left}}
	</h2>
	{% if wallet_dont_exists %}
		Wallet is not active?
		<p> 
			<a href="{% url 'wallets:wallets' %}"> Click here </a>
		</p> 

	{% else %}
		<form method='POST'>
			{% csrf_token %}
			{{form.as_p}}
			<input type='submit' name='action' value='BUY'>
		</form>
		<form method='POST'>
			{% csrf_token %}
			{{form2.as_p}}
			<input type='submit' name='action' value='SELL'>
		</form>
	{% endif %}
{% endblock %}
