{% extends 'main_layout.html' %}

{% block head %}



{% endblock %}


{% block main %}


	<h1>
		{{wallet}}
	</h1>

	<h3>
		Yang: {{wallet.yang}} | Wallet has not enough money? Add demo Yang 
		<form method='POST' style="display:inline-block;"> {% csrf_token %} <input type='submit' name='Boost' value='+'> </form> 
	</h3>
	<h3>
		Active: {{wallet.active}}
	</h3>

	<h3>
		<p>
			Coins:
		</p>	
		{% for coin in coins %}
			<p>
				{{coin.coin}}, Avg buy: {{coin.avg_buy_price}} Amount: {{coin.amount_of_coin}}
			</p>
		{% empty %}
			You have 0 coins, check available coins! <a href="{% url 'coins:coins' %}"> Click here </a>
		{% endfor %}
		
	</h3>
	<form method='POST'>
		{% csrf_token %}
		<input type='submit' name='delete' value='Delete'>
	</form>
	<form action="{% url 'wallets:update' wallet.id %}">
		<input type='submit' value='Update'>
	</form>


{% endblock %}